@import './../../styles/variables';
@import './../../styles/mixin';

.button {
  @include button;
  background: #FFFFFF;
  border: 1px solid $accentColor;
  color: $accentColor;
  &:hover {
    box-shadow: 0px 4px 8px 0px #00000040;
  }
  &:focus {
    box-shadow: 0px 4px 8px 0px #00000040;
  }
  &__variant {
    @include button;
    background: $primaryGradient;
    border: 1px solid $accentColor;
    color: $white;
    &:hover {
      box-shadow: $boxSchadowButtonHover;
    }
    &:focus {
      box-shadow: $boxSchadowButtonHover;
    }
  }
}