@import './../../styles/variables';
@import './../../styles/mixin';
.wrapper {
  @include flexColumn;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 0px 8px 0px #0000001A;
  border-radius:  8px;
  height: 189px;
  justify-content: space-between;
  margin: 20px;
  position: relative;
  width: 280px;
  &__link {
    text-decoration: none;
  }
    &__imageBox {
      @include friendImage;
      box-shadow: 0px 0px 4px 0px #0000001A;
      left: calc(50% - 60px/2);
      position: absolute;
      top: -30px
  }
  &__image {
    @include friendImage;
    object-fit: cover;
  }
  &__personBox {
    @include flexColumn;
    align-items: center;
  }
  &__fullName {
    @include rowCenterCenter;
    margin: 60px 16px 8px;
    h1 {
      color: $primaryTextColor;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
    }
  }
  &__statusBox {
  }
  &__buttonsBox {
    display: flex;
    flex-direction: row;
    margin: 0 16px 30px;
  }
}