//KOLORY
$white: #FFFFFF;
$gray: #E9E9E9;
$black: #000000;
$accentColor: #F2709C;
$primaryTextColor: #585858;
$secondaryTextColor: #6F6F6F;

//GRADIENT
$primaryGradient: linear-gradient(90deg, #F2709C 0%, #FF9472 100%);
$secondaryGradient: linear-gradient(90deg, #84FAB0 0%, #8FD3F4 100%);