@import './../../styles/mixin';
@import './../../styles/variables';

.wrapper {
  @include rowCenterCenter;
  margin: 94px auto;
  &__input {
    background: $white;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    border-radius:$borderRadius-4;
    height: 30px;
    outline: none;
    padding: 8px 46px 8px 16px;
    width: 310px;
    &:hover {
      box-shadow: $boxSchadowInputHover;
    }
    &:focus {
      box-shadow: $boxSchadowInputHover;
    }
  }
}
@media screen and (min-width: 800px) {
 .wrapper{
   &__input {
     width: 427px;
   }
 }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    &__input {
      width: 467px;
    };
  }
}